{% extends "base.html" %}
{% load static %}
{% block js_block %}
    {{ block.super }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}" defer></script>
{% endblock js_block %}
{% block content %}
    <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
        <div class="mx-auto max-w-screen-xl">
            <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Checkout</h2>
            <div class="grid gap-y-10  gap-x-4 grid-cols-1 mt-7 content-center md:grid-cols-[3fr_4fr] md:grid-rows-[auto_1fr]">
                <div class="md:row-span-2">
                    <form class="flex flex-col gap-5"
                          id="checkout_form"
                          hx-post="{% url 'checkout' %}"
                          hx-swap="none"
                          hx-select-oob="#details_fieldset, #status_params, #delivery_fieldset">
                        {% csrf_token %}
                        <fieldset id="details_fieldset"
                                  class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
                            <legend class="text-xl font-semibold text-gray-900 px-3">Details</legend>
                            {% for field in order_form %}
                                <div>{% include "checkout/inclusions/input_field.html" %}</div>
                            {% endfor %}
                        </fieldset>
                        <fieldset id="delivery_fieldset"
                                  class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                            <legend class="text-xl font-semibold text-gray-900 px-3">Delivery</legend>
                            {% for field in address_form %}
                                <div>{% include "checkout/inclusions/input_field.html" %}</div>
                            {% endfor %}
                        </fieldset>
                        <fieldset class="flex flex-col gap-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
                            <legend class="text-xl font-semibold text-gray-900 px-3">Payment</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="grid grid-cols-2 gap-4">
                                <div class="col-span-2 ">
                                    <label for="cardNumber">Card number</label>
                                    <div id="cardNumber"></div>
                                    <div class="text-red-600 hidden elemetError"></div>
                                </div>
                                <div>
                                    <label for="cardExpiry">Expiration date</label>
                                    <div id="cardExpiry"></div>
                                    <div class="text-red-600 hidden elemetError"></div>
                                </div>
                                <div>
                                    <label for="cardCvc">Security code</label>
                                    <div id="cardCvc"></div>
                                    <div class="text-red-600 hidden elemetError"></div>
                                </div>
                            </div>
                            <div class="text-red-600" id="card-errors" role="alert">
                                {% if cardError %}{{ cardError }}{% endif %}
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div data-accordion="open"
                     id="cart_items_accordion"
                     class="mx-auto w-full flex-none md:col-start-2 lg:max-w-2xl xl:max-w-4xl md:mt-3">
                    <h2 id="accordion-flush-heading-1">
                        <button type="button"
                                class="flex items-center justify-between w-full py-3 px-2 border rounded-md border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
                                data-accordion-target="#accordion-checkout_items"
                                aria-expanded="false"
                                aria-controls="accordion-checkout_items">
                            <span class="text-xl font-semibold text-gray-900">Order items</span>
                            <svg data-accordion-icon
                                 class="w-3 h-3 rotate-180 shrink-0"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                            </svg>
                        </button>
                    </h2>
                    <div class="space-y-4 hidden mt-5"
                         id="accordion-checkout_items"
                         aria-labelledby="accordion-flush-heading-1">
                        {% for cart_item in cart %}
                            {% include "checkout/inclusions/checkout_item.html" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="md:sticky md:top-28 md:col-start-2 md:self-start">
                    {% include "checkout/inclusions/checkout_summary.html" %}
                </div>
            </div>
        </div>
    </section>
    <div data-open="false"
         class="absolute top-0 left-0 z-50 h-full w-full justify-center items-center backdrop-blur-sm data-[open=false]:hidden flex"
         id="payment_load_spinner">
        <div role="status">
            <svg aria-hidden="true"
                 class="inline h-16 w-16 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                 viewBox="0 0 100 101"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ status_params|json_script:"status_params" }}
{% endblock content %}
