{% comment %} This template should be used with "product/js/set_order.js" {% endcomment %}
<select id="order_list"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    {% with order=request.COOKIES.order %}
        {% for value, data in order_options.items %}
            <option value="{% if not value %}reset{% else %}{{ value }}{% endif %}"
                    {% if order == value %}selected{% endif %}>{{ data.label }}</option>
        {% endfor %}
    {% endwith %}
</select>
