<div class="flex items-center justify-between col-span-2 space-x-3">
    {% for w in widget.subwidgets %}
        <div class="w-full">
            {% if forloop.counter == 1 %}
                <label for="{{ w.name }}"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">From</label>
            {% else %}
                <label for="{{ w.name }}"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">To</label>
            {% endif %}
            <input type="number"
                   id="{{ w.name }}"
                   name="{{ w.name }}"
                   {% if w.value != None %}value="{{ w.value|stringformat:'s' }}"{% endif %}
                   min="1"
                   max="99999"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        </div>
    {% endfor %}
</div>
