{# djlint:off T002 #}
{% extends "base.html" %}
{% block content %}
    <div class="py-7 antialiased grid grid-cols-1 gap-y-8">
        <section id="account_data" class="border border-gray-300 rounded-xl py-3 px-2">
            <h2 class="mb-4 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl md:mb-6">User Details</h2>
            <div class="divide-y-2 space-y-3 mt-7">
                {% include "users/inclusions/show_edit_tabs.html" with tab_id_prefix="details" section_id="account_data" form=user_form subbmit_name=form_type.USER.value htmx_attrs="hx-encoding='multipart/form-data'" %}
            </div>
        </section>
        <section id="address_data" class="border border-gray-300 rounded-xl py-3 px-2">
            <h2 class="mb-4 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl md:mb-6">Address</h2>
            <div class="divide-y-2 space-y-3 mt-7">
                {% include "users/inclusions/show_edit_tabs.html" with tab_id_prefix="address" section_id="address_data" form=address_form subbmit_name=form_type.ADDRESS.value %}
            </div>
        </section>
    </div>
{% endblock content %}
