{% load static %}
{% load static tailwind_tags %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
                {{ title }}
            {% endblock head_title %}
        </title>
        <!-- CSS -->
        {% block basic_css %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% endblock basic_css %}
        {% block css_block %}
            {% tailwind_css %}
        {% endblock css_block %}
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
              rel="stylesheet" />
        <!-- JS (use "defer" inside "script" tag) -->
        {% block basic_js %}
            <script src="{% static 'js/script.js' %}" defer></script>
            <script src="{% static 'js/navbar_height.js' %}" defer></script>
            <script src="{% static 'js/htmx.min.js' %}" defer></script>
            <script src="https://unpkg.com/idiomorph@0.3.0/dist/idiomorph-ext.min.js" defer></script>
            {% django_htmx_script %}
        {% endblock basic_js %}
        {% block js_block %}
        <script src="{% static 'js/flowbite/flowbite.min.js' %}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" defer></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
        {% endblock js_block %}
    </head>
    <body hx-ext="morph" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% include "core/messages.html" %}
        <header>
            {% block header %}
                {% include "components/header.html" %}
            {% endblock header %}
        </header>
        <main id="main-content" class="px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12">
            {% block main %}
            {% block content %}
            {% endblock content %}
            {% endblock main %}
        </main>
        <footer>
            {% block footer %}
            {% endblock footer %}
        </footer>
    </body>
</html>
