{% load static %}
<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600"
     id="navbar">
  <div class="grid items-center grid-cols-2 md:grid-cols-10 p-2 md:p-4">
    <a href="{% url "home" %}"
       class="flex justify-self-start md:col-start-1 md:col-span-2 hover:no-underline space-x-2 rtl:space-x-reverse">
      <div class="h-8 w-8">{% include "svg_templates/logo.svg" %}</div>
      <span class="self-center text-black text-2xl font-semibold whitespace-nowrap dark:text-white">TechCore</span>
    </a>
    {% comment %} Big screen nav menu {% endcomment %}
    <div class="hidden w-full  md:block col-start-4 col-span-3 md:w-auto"
         id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-5 lg:md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <button id="dropdownDefaultButton"
                  data-dropdown-toggle="products_dropdown"
                  class="py-2 px-3 text-gray-900 rounded inline-flex items-center hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                  type="button">
            Products
            <svg class="w-2.5 h-2.5 ms-3"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
          </button>
        </li>
        <li>
          <a href="{% url "contact_us" %}"
             class="block py-2 px-3 text-gray-900 rounded hover:no-underline hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact Us</a>
        </li>
      </ul>
    </div>
    {% comment %} burger-user-basket bottons {% endcomment %}
    <div class="flex items-center justify-self-end space-x-1 md:col-start-10 md:col-span-1 md:space-x-2 rtl:space-x-reverse">
      {% comment %} burger menu {% endcomment %}
      <button data-drawer-target="drawer-navigation"
              data-drawer-show="drawer-navigation"
              type="button"
              class="inline-flex md:hidden items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="drawer-navigation"
              aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      {% comment %} shopping busket {% endcomment %}
      {% include "components/shopping_card_button.html" %}
      {% comment %} user manu {% endcomment %}
      <button type="button"
              class="rounded-full hidden md:flex justify-center items-center w-8 h-8 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 hover:ring-4 hover:ring-gray-300 dark:hover:ring-gray-600"
              id="user-menu-button"
              aria-expanded="false"
              data-dropdown-toggle="user-dropdown"
              data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img src="{% static "img/user.svg" %}" alt="user photo">
      </button>
    </div>
    {% comment %} search {% endcomment %}
    <form action="{% url "product_search" %}"
          method="get"
          class="col-span-full md:col-start-7 md:col-span-3 md:row-start-1 md:w-48 lg:justify-self-center"
          id="navbar-search">
      <div class="relative flex gap-3 mt-3 md:mt-0">
        <input type="text"
               id="search-navbar"
               name="q"
               class="peer p-2 ps-10 w-full block text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 transition-[padding]  focus:ps-2 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Search..."
               required
               autocomplete="off">
        <div class="peer-focus:hidden absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <button type="submit"
                class="bg-blue-700 block p-2.5 text-sm rounded-lg peer-placeholder-shown:hidden">
          <svg class="w-4 h-4 text-white"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </button>
      </div>
    </div>
  </form>
</nav>
{% include "components/main_manu_drawer.html" %}
{% include "components/dropdown_products.html" %}
