{% load static %}
{% load product_tags %}
<div class="rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800">
    <div class="h-56 w-full">
        <a href="{{ product.get_absolute_url }}">
            <img class="mx-auto h-full"
                 src="{% if product.images.exists %}{{ product.images.first.image.url }}{% else %}{% static 'img/'|add:product.category.name|lower|add:'.svg' %}{% endif %}"
                 alt="{{ product.name }} image" />
        </a>
    </div>
    <div class="pt-6">
        <a href="{{ product.get_absolute_url }}"
           class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">{{ product.product_title }}</a>
        <div class="mt-2 flex items-center gap-2">
            <div class="flex items-center">{% render_stars product.rating star_id=product.id %}</div>
            <p class="text-sm font-medium text-gray-900 dark:text-white">{{ product.rating|floatformat:1 }}</p>
            <p class="text-sm font-medium text-gray-500 dark:text-gray-400">({{ product.review_count }})</p>
        </div>
        <div class="mt-4 flex flex-wrap items-center justify-between gap-4">
            <p class="text-2xl font-extrabold leading-tight text-gray-900 dark:text-white">${{ product.price }}</p>
            <div class="flex items-center gap-4">
                <form hx-post="{% url "add_to_cart" %}"
                      hx-swap="none"
                      method="post"
                      id="add_to_cart_form_{{ product.pk }}"
                      class="hidden peer">
                    {% get_product_quantity_form product.pk as quantity_form %}
                    {% for field in quantity_form %}{{ field }}{% endfor %}
                </form>
                <button type="submit"
                        form="add_to_cart_form_{{ product.pk }}"
                        class="inline-flex peer-[.htmx-request]:bg-opacity-70 peer-[.htmx-request]:pointer-events-none items-center rounded-lg bg-blue-700 px-2.5 py-2.5 text-lg font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4  focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="h-6 w-6"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
